body {
  margin: 10vh 0 0 0;
}

p {
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 16px;
}

.select {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.select select {
  font-size: 16px;
}

.textarea {
  display: block;
  margin: 0 auto;
}

.button {
  font-size: 22px;
  color: #fff;
  background: #09c2ff;
  border: none;
  border-bottom: 2px solid #308291;
  border-radius: 4px;
  padding: 2px 8px;
  font-weight: bold;
  cursor: pointer;
}

.status {
  text-align: center;
  color: #1514ff;
  font-weight: bold;
}
